{% load staticfiles %}
{% load urlbuilder %}

{% url 'search_observations' as base_url %}
<div class=download_csv>
	<script type="text/javascript">
		function AlertIt(url) {
		    window.location=url;
		    alert("Be patient, It can take a while");
		    }
	</script>
    <ul> 
        <li>Download</li>
        {% url 'observation-list' as base_url %}
        <li><a href='javascript:AlertIt("{% build_url base_url search_criteria download_search=True,format=csv%}");' ><img src="{% static "vavilov/style/images/csv_icon.png"%}"/></a></li>
        <li><a href='javascript:AlertIt("{% build_url base_url search_criteria download_search=True,format=excel%}");'><img src="{% static "vavilov/style/images/xls_icon.png"%}"/></a></li>
    </ul>
</div>