{% if images%}
    <hr class='empty_line'>
    <div class='image_container'>
	    <h3> Observation Images </h3>
		 <div class='galleria' style="margin:auto;">
		<script>
            var data =  {{json_images|safe}} ;
		   Galleria.loadTheme('/static/vavilov/js/galleria/themes/classic/galleria.classic.min.js');
		   Galleria.run('.galleria', {
                        dataSource: data,
                        thumbnails: 'lazy',
		                trueFullscreen:true,
		{#                clicknext:true,#}
		{#                showImagenav:false,#}
		                showInfo:true,
		                _toggleInfo:false
		                });
		   Galleria.ready(function() {
		     var gallery = this;
		     this.addElement('fscr');
		     this.addElement('rotate');
		     this.appendChild('stage','fscr');
		     this.appendChild('stage','rotate');
		     var fscr = this.$('fscr')
		            .click(function() {
		            gallery.toggleFullscreen();
		            });
		     var rotate = this.$('rotate')
		            .click(function() {
		                var image = gallery.getActiveImage();
		                var value = j(image).getRotateAngle();
		                j(image).rotate(parseInt(value)+90);

		            });
            this.lazyLoadChunks( 30 );
		    this.addIdleState(this.get('fscr'), { opacity:0 });
		    this.addIdleState(this.get('rotate'), { opacity:0 });
		    this.addIdleState(this.get('galleria-info'), { opacity:0 });
		   });
		</script>
		</div>
	</div>
{% endif %}
