{% extends "base.html" %}
{% load extras %}
{% block page_spec_js %}
    <script src="/static/vavilov/js/galleria/galleria-1.4.2.min.js"></script>
    <script src="/static/vavilov/js/jQueryRotate.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/vavilov/style/galleria.css">
{% endblock page_spec_js %}

{% load staticfiles %}
{% load render_table from django_tables2 %}
{% block title %}Observation entity {{obs_entity.name}} {% endblock title %}
{% block content %}
<section id=central_column>
    <h2> Observation entity {{obs_entity.name}}</h2>
    <div class='accession_table'>
	    <table class="data_table">
		    <tr>
		        <td class="key">Name :</td>
		        <td class="value">{{obs_entity.name}}</td>
		    </tr>
		    <tr>
	            <td class="key">Part type:</td>
	            <td class="value">{{obs_entity.part.name}}</td>
	        </tr>
	    </table>
	 </div>
	 <hr class='empty_line'>
</section>
{% if plants %}
    <hr class='empty_line'>
    <h3> Plants part of this observation entity </h3>
    {% render_table plants %}
    <span class="clear"></span>
{% endif %}
{% include 'vavilov/galleria_js.html' with images=obs_images %}
{% endblock %}
