{% extends "base.html" %}
{% load staticfiles %}
{% block page_spec_js %}{% include 'vavilov/galleria_head.html' %}{% endblock page_spec_js %}
{% load render_table from django_tables2 %}
{% block title %}Plant {{ plant.plant_name}} {% endblock title %}
{% block content %}
<h1> Plant {{ plant.plant_name}} </h1>
<div class="table-container">
	<table class="data_table">
	    <tr>
	        <td class="key">Accession number :</td>
	        <td class="value">{{plant.accession.accession_number}}</td>
	    </tr>
	    {% if plant.experimental_field %}
	    <tr>
	        <td class="key">Experimental field :</td>
	        <td class="value">{{plant.experimental_field}}</td>
	    </tr>
	    {% endif %}
	    {% if plant.row %}
	    <tr>
	        <td class="key">Row :</td>
	        <td class="value">{{plant.row}}</td>
	    </tr>
	    {% endif %}
	    {% if plant.column %}
	    <tr>
	        <td class="key">Column :</td>
	        <td class="value">{{plant.column}}</td>
	    </tr>
	    {% endif %}
	    {% if plant.pot_number %}
	    <tr>
	        <td class="key">Pot number :</td>
	        <td class="value">{{plant.pot_number}}</td>
	    </tr>
	    {% endif %}
	    {% if plant.seed_lot %}
	    <tr>
	        <td class="key">Seed lot :</td>
	        <td class="value">{{plant.seed_lot}}</td>
	    </tr>
	    {% endif %}
	</table>
</div>
{% if assays %}
    <hr class='empty_line'>
	<h3> This plant has been used in these assays</h3>
	{% render_table assays %}
{% endif %}
<span class="clear"></span>

{% if observations %}
    <hr class='empty_line'>
	<h3> Observations on this plant</h3>
	{% render_table observations %}
	{% include 'vavilov/download_observations.html' with search_criteria=obs_search_criteria %}
	<span class="clear"></span>
{% endif %}

{% include 'vavilov/galleria_js.html' with json_images=json_images %}

{% endblock %}
