{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% block page_spec_js %}
    <script src="/static/vavilov/js/galleria/galleria-1.4.2.min.js"></script>
    <script src="/static/vavilov/js/jQueryRotate.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/vavilov/style/galleria.css">
{% endblock %}
{% block title %}Search Observations {% endblock title %}
{% block content %}
	{% if entries or photo_entries%}
	   <h3> Search result</h3>
	   {% if entries %}
	       {% render_table entries %}
	       {% include 'vavilov/download_observations.html' with search_criteria=search_criteria %}
	   {% endif %}
	   
	   {% if photo_entries %}
	       {% include 'vavilov/galleria_js.html' with images=photo_entries %}
	   {% endif%}
	
	{% else %}
        {% if search_criteria and not entries or not photo_entries%}
           <p>No observations found</p>
        {% endif %}
	    <h3> Search Observations</h3>
        <form action="{% url 'search_observation' %}" method="post">{% csrf_token %}
	       <div class='search_form'>
	           {{ form.as_table }}
	       </div>
	       <input type="submit" value="Search" />
	   </form>
	{% endif %}
{% endblock %}

