@import url(https://fonts.googleapis.com/css?family=Alegreya:400,700|Roboto:400,300,500,700);
/*centrarfooter*/*, *:before, *:after {
    box-sizing: inherit;
}
html { margin: 0 auto;
   
   height: 100%;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin:8px auto;
    font-family: 'Roboto', Arial, serif;
    font-weight: 300;

    position: relative;
    padding-bottom: 50px;
    min-height: 100%;
    padding: 0;
}
article span, span, p, input {   font-family: 'Roboto', Arial, sans-serif !important;
    font-weight: 300; 
     line-height: 1.8em;
     font-size: 1em;
}

main {
    margin: 0 auto;
    font-family: 'Roboto', Arial, serif;
    font-weight: 300;
    width: 80%;
    max-width: 1200px;

    min-height: calc(100vh - 50px);
    
}

main a:-webkit-any-link {
    color: #596f29;
    text-decoration: none;
    cursor: auto;
    font-weight: 300;
}

input[type="button" i], input[type="submit" i] {
    text-align: center;
    cursor: default;
    color: #fff;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: #596f29;
    box-sizing: border-box;
    padding: 3px 12px 4px;
    border: none;
}
input[type="button" i]:hover, input[type="submit" i]:hover {
    background-color: #db383d;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

/*reset a*/
a:link {
    color: #555;
    font-weight:300;
    text-decoration: none; 
    -moz-text-decoration-color: #555;
}
a:visited {
    color: #555;
    font-weight:300;
    text-decoration: none; 
    -moz-text-decoration-color: #555;
}

a:hover {
    text-decoration: none;
    color:#555;
}
/*links*/
main a:link {
    color: #596f29;
    font-weight:500;
    text-decoration: none; 
    -moz-text-decoration-color: #596f29;
}
main a:visited {
      color: rgba(89,111,41, 0.7);
    font-weight:500;
    text-decoration: none; 
    -moz-text-decoration-color: #999;
}

main a:hover {
    text-decoration: none;
    color:#514828;
}


nav{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0em;
    margin-bottom: 0em;
    width: 80%;
    max-width: 1200px;
    z-index:100;

}
nav ul{
        list-style: none;
    position: relative;
    display: inline-table;
    padding: 0.7em 0 0.7em 2.5em; margin: 0;
    font-size: 1em;
}

nav ul ul{
    padding: 0em; margin:0;
    margin-top:0;
    position:absolute;
    padding-top: 0.75em;
    display: none;
    background-color: #fff;
    padding: 1em;
    margin-left: -1em;}

        nav ul ul li {
            margin: 0 -1.2em;
            padding: 0.4em 1.2em;
            float: none;
            position: relative;
            min-width: 7em;
        }
        nav ul ul li:last-child {
            padding-bottom: .8em;
            margin-bottom: -1em;
        }
        nav ul ul li:hover {
            background-color: #596f29;
        }
        nav ul ul li:hover a {
            color:#fff;
        }

nav ul li{
    padding: 0 0.1em 0 0.1em;
    display:block;
    float:left;
    margin: 1em;
}
nav ul li:hover > ul{
    display: block; /* unhide submenus */
}
nav ul li a{
    display: block;
    text-decoration: none;
}
.linecab {
    width: 100%;
    height: 0.5em;
    background-color: rgb(81, 72, 40);
    margin: 2em 0 3em 0; 
}
article img, p img {
    position: relative;
    display: block;
    float: left;
    margin: 0 2.5em 1em 0;
    z-index: 1;
}

label {
    color: #555;
    cursor: pointer;
    display: block;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0;
    margin-top: 1em;
}

h1, h2, .Estilo22 {
    margin: 0px;
    padding: 0px;
    margin-bottom: 15px;
    font-weight: normal;
    font-family: 'Alegreya', serif;
    color: rgb(81, 72, 40);
    font-size: 28px;
    line-height: 32px;
    margin-top: 0px;
}

h3 {    font-weight: 700;
    font-family: 'Alegreya', serif;
    color: rgb(89, 111, 41);
    font-size: 20px;
    line-height: 20px;
}

.logo{
    width: 220px;
    height: 65px;
    float: left;
    display: block;
    position: relative;
    padding: 0;
    margin: 0.5em 0;
}

section{
    margin: 16px 0;
}

th{
    font-size: 13px;
    color: #000;
    font-weight:normal;
    padding: 0 2px;
}


tr{
    height:50px;
}



button[value]{
    padding:0;
    height:20px;
    width:20px;
}

/*thead th {
    color: #fff;
    background-color: #514828;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: none;*/
}
table tr {
    border-collapse: collapse;
}
table tr:last-child {
    border-bottom: 2px solid #596f29;
}

tr.even {
    background-color: rgba(89,111,41, 0.1);
}
tr:hover {background-color:  rgba(89,111,41, 0.25)}

.searchresult {
    width:100%;
    padding:0px;
    margin-top:15px;
    margin-bottom:15px;
    margin-left:0px;
    border-spacing:0;
    float:left;
    border-collapse: collapse;  
}

.searchresult th .accession_number, .searchresult tr .accession_number {
    border-right: 2px solid #596f29;

}

.searchresult thead th a{ 
    text-align: center;
    text-decoration:none;
    color: #596f29;  
}
.searchresult thead th{ 
    text-align: center;
    font-size: 0.9em;
    color: black;
    font-style: bold;  
    border-bottom: 2px solid #596f29;

}
.searchresult thead th.orderable { 
    background:url(/static/vavilov/style/images/sort_both.png);
    background-repeat:no-repeat;
    background-position: center right; 
}
.searchresult thead th.asc { 
    background: url(/static/vavilov/style/images/sort_asc.png); 
    background-repeat:no-repeat; 
    background-position: center right; 
}
.searchresult thead th.desc { 
    background: url(/static/vavilov/style/images/sort_desc.png);
    background-repeat:no-repeat; 
    background-position: center right;
}

.searchresult tr th{
    padding-top:8px;
    padding-bottom:8px;
    padding-right:15px;
    padding-left:7px;
    white-space: nowrap;
    text-align: center;
    color: #656464; 
}
.searchresult tbody td{
    border:none;
    margin:0;
    padding-top:5px;
    padding-bottom:5px;
    padding-right:7px;
    padding-left:7px;
    font-size:10pt;
    text-align: center;
    color: #505050 ;
}

.data_table td{
    border:1;
    margin:0;
    padding-top:5px;
    padding-bottom:5px;
    padding-right:7px;
    padding-left:7px;
    font-size:12pt;
    color: #505050 ;
}

.accession_table div{
    margin-bottom:300px;
    width:100%;
}
.passport_table tr:first-child .key + td {
     font-weight: 400;
    font-family: 'Alegreya', serif;
    color: rgb(89, 111, 41);
    font-size: 24px;
}

.passport_data_map{
    overflow:auto;
}
.passport_table{
    float:left  
}
#passport_data_map .passport_table table.data_table {
    color: #504050;
}

#googleMap {
    float:right;  
    width:400px;
    height: 400px;
    border: 2px solid #596f29;
}
.empty_line{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.pagination{
    color:#222222;
}
ul.pagination {
    display: block;
    margin-left: -0.3125rem;
    min-height: 1.5rem
    color:red;
}

ul.pagination li {

    font-size: 1rem;
    height: 1.5rem;
    margin-left: 0.3125rem
}

ul.pagination li a,
ul.pagination li button {
    border-radius: 3px;
    transition: background-color 300ms ease-out;
    background: none;
    color: #211200;
    display: block;
    font-size: 1em;
    font-weight: normal;
    line-height: inherit;
    padding: 0.0625rem 0.625rem 0.0625rem
}

ul.pagination li.next:hover ,
ul.pagination li.previous:hover{
    border-radius: 3px;
    background: #999999;
    color:white;
    cursor: default;
    font-weight: 700
}

ul.pagination li.next ,
ul.pagination li.previous{
    border-radius: 3px;
    background: #F0F0F0;
    color: #FFFFFF;
    cursor: default;
    font-weight: 700
}

ul.pagination li.unavailable a,
ul.pagination li.unavailable button {
    cursor: default;
    color: #999999
}

ul.pagination li.unavailable:hover a,
ul.pagination li.unavailable a:focus,
ul.pagination li.unavailable:hover button,
ul.pagination li.unavailable button:focus {
    background: transparent
}

ul.pagination li.current a,
ul.pagination li.current button {
    background: #a4131c;
    color: #FFFFFF;
    cursor: default;
    font-weight: 700
}

ul.pagination li.current a:hover,
ul.pagination li.current a:focus,
ul.pagination li.current button:hover,
ul.pagination li.current button:focus {
    background: #a4131c
}

ul.pagination li {
    display: block;
    float: left
}

.pagination-centered {
    text-align: center
}

.pagination-centered ul.pagination li {
    display: inline-block;
    float: none
}
.download_csv{
    float: right;
    font-size: 0.8em;
}
.search_form {
    margin-right:30%;
    margin-bottom   :10px;
}
.search_form input, select {
    width: 100%;
    background-color: rgb(248, 248, 248);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-width: 1px;
    border-style: solid;
    border-color: #596f29;
    border-radius: 0px;
    padding: 5px 0; 

}
footer {
    bottom: 0px;
    margin: 0 auto;
  right: 0;
  left: 0;
  height: 50px;
  text-align: center;
  padding: 1em;
  clear: both;
  background-color: #eee;
}
#txtpie {
    margin: 0 auto;
    text-align: center;
    font-size: 0.8em;
    font-weight: 500;
}

