	.ui-autocomplete {
		max-height: 100px;
		overflow-y: auto;
		/* prevent horizontal scrollbar */
		overflow-x: hidden;
		/* add padding to account for vertical scrollbar */
		padding-right: 10px;
	}
	/* IE 6 doesn't support max-height we use height instead, but this
	 * forces the menu to always be this tall */
	* html .ui-autocomplete {
		height: 100px;
	}
	.ui-autocomplete-loading {
		background: white url('/site_media/images/ui-anim_basic_16x16.gif')
		            right center no-repeat;
	}

